
@font-face 
    font-family 'YTextLight'
    src url('/fonts/YSText-Light.woff2') format('woff2'), url('/fonts/YSText-Light.woff') format('woff')
    //font-weight 300
    font-style normal

@font-face 
    font-family 'YText'
    src: url('/fonts/YSText-Regular.woff2') format('woff2'), url('/fonts/YSText-Regular.woff') format('woff')
    //font-weight 400
    font-style normal

@font-face 
    font-family 'YTextBold'
    src url('/fonts/YSText-Medium.woff2') format('woff2'), url('/fonts/YSText-Medium.woff') format('woff')
    //font-weight 600
    font-style normal

html, body
    font-family 'YText', Arial, Helvetica, sans-serif
    font-weight 300
    font-size 16px
    scroll-behavior smooth

h1, h2, h3
    margin-top -65px
    padding-top 75px
    -webkit-background-clip: content-box
    background-clip: content-box
    border 0

h5, h6
    font-weight normal
    font-size 15px
    line-height 1.5
    margin-top -65px
    padding-top 75px
    -webkit-background-clip: content-box
    background-clip: content-box
    border 0

mark
    box-sizing border-box
    padding 4px 10px
    color #fff
    border-radius 5px
    background-color #334ed9
    font-weight 500
    & a
        color #fff

.content__default
    box-sizing border-box
    padding 10px 20px
    padding-top 70px

hr
    margin 20px 0

.theme-default-content
    max-width 920px